.client-tests__sub-section {
  min-height: auto !important;
}

.new-url-controls__form {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 24rem;
}

/* new url modal */

.new-url-modal__text {
  margin: 0.5rem 0;
  text-align: center;
}

.new-url-modal__emph {
  color: var(--primary-color);
}

.new-url-modal__link {
  text-decoration: underline;
  color: var(--primary-color-light);
  cursor: pointer;
}

.new-url-modal__sml {
  color: var(--tertiary-color);
  font-size: 0.85rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* completed tests */

.comp-tests {
  flex-direction: column;
}

.comp-tests__title {
  margin: 0;
}

.comp-tests__list {
  padding-inline-start: 0;
}

.comp-tests__option {
  cursor: pointer;
}

.chart-container {
  flex-direction: column;
  overflow-x: scroll;
}

@media (max-width: 600px) {
  .chart-container {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
}

/* client test view */
.birth-year-validator__container {
  flex-direction: column;
}
