.PhoneInput {
  background-color: rgb(255, 255, 255);
}

.PhoneInputInput {
  border-color: transparent;
  font-size: 1.1rem;
  width: 50%;
}

.PhoneInputInput:focus {
  background-color: var(--tertiary-color-light);
}

.add-data-prompt {
  text-shadow: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--tertiary-color);
}

.user__info {
  min-height: 14rem;
}

.payment-row {
  padding-right: 1rem;
}

.StripeElement {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--primary-radius);
  border: var(--tertiary-border);
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: white;
  max-height: 2.35rem;
}

.CardField-input-wrapper {
  background-color: none;
}

.StripeElement--focus,
.StripeElement:focus {
  background-color: var(--tertiary-color-light);
  border: var(--primary-color) solid 1px;
}
