/* TODO Add site wide styles */
body {
  margin: 0;
  /* background: url('./components/SplashPage/dog-silhouettes-vector.png') no-repeat center center fixed;
  background-size: cover; */
}

.ev-after-nav {
  padding: 0 10%;
  margin-top: 2rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

.button-primary {
  background-color: whitesmoke;
  padding: 1rem;
}