/* TODO Add site wide styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.ev-after-nav {
  padding: 0 10%;
  margin-top: 2rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

.button-primary {
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(138, 138, 138);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
}

.button-primary:hover {
  background-color: rgb(167, 167, 167);
}

.loading {
  color: rgb(122, 122, 122);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
