.all-tests-list {
  display: grid;
  width: 100%;
}

.test-summary {
  cursor: pointer;
  display: block;
  border: 0.25rem solid transparent;
  border-radius: var(--primary-radius);
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 2.2rem;
  background: var(--tertiary-color-light);
  color: var(--primary-color);
  position: relative;
  cursor: pointer;
}

details {
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}

details .test-summary::-webkit-details-marker {
  display: none;
}

details[open] > .test-summary:before {
  transform: rotate(90deg);
}

.test-summary:before {
  content: '';
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 25% 50%;
  transition: 0.25s transform ease;
}
