.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
}

@media (max-width: 800px) {
  .auth-form {
    width: 20rem;
  }
}

.auth-form__row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

@media (max-width: 800px) {
  .auth-form__row {
    flex-wrap: wrap;
  }
}

.auth-form__input {
  width: 100%;
  margin: 0.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: var(--tertiary-color) solid 2px;
  font-size: 1.1rem;
}

.auth-form__input:focus {
  background-color: var(--tertiary-color-light);
  border: var(--primary-color) solid 2px;
}

.auth-button {
  margin-top: 0.75rem;
  width: 50%;
}
