.auth__form {
  max-width: 32rem;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.auth__form__input {
  padding: 1rem !important;
}

.auth__sml-txt {
  font-size: 0.9rem;
  text-align: center;
}

.terms-of-use {
  flex-direction: column;
}
