.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--tertiary-border);
  border-radius: var(--pimrary-radius);
  padding: 1rem;
  box-sizing: border-box;
  width: 47rem;
  max-width: 100%;
  font-size: 1.1rem;
  min-height: 13rem;
  background-color: var(--primary-color-xlight);
}

.dashboard__form {
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-around;
}

.dashboard__input {
  margin: 0.5rem !important;
  padding: 0.5rem !important;
}

.dashboard__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50% !important;
}

.dashboard__data,
.dashboard__button {
  font-size: 1.1rem;
  font-weight: 1000;
}
.dashboard__data {
  padding: 0 1rem;
  width: 100%;
  text-shadow: var(--text-shadow);
}

.dashboard__button {
  display: flex;
  justify-content: center;
  margin: 0.5rem !important;
  padding: 0.5rem !important;
  width: 100% !important;
  max-width: 11rem;
}

.PhoneInput {
  background-color: rgb(255, 255, 255);
}

.PhoneInputInput {
  border-color: transparent;
  font-size: 1.1rem;
  width: 50%;
}

.PhoneInputInput:focus {
  background-color: var(--tertiary-color-light);
}

.add-data-prompt {
  text-shadow: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--tertiary-color);
}

.creation-date-label {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  font-size: 1.1rem;
}

.creation-date-input {
  font-family: 'Open Sans', sans-serif !important;
  text-shadow: var(--text-shadow);
}

/* clients */

/* single client */
.dashboard__single-client {
  min-height: auto !important;
}

.generate-test-url__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50% !important;
  margin: 0 1rem;
}

.gnerate-test-url__dropdown {
  max-width: 11rem;
}

@media (max-width: 800px) {
  .dashboard__single-client {
    flex-direction: column !important;
  }
}

/* clients other */
.dashboard__client-controls {
  display: flex;
  width: 47rem;
  max-width: 100%;
  flex-wrap: nowrap;
  min-height: 3.75rem;
  padding: 0.25rem 0;
}

.dashboard__client-controls > input {
  margin-left: 0 !important;
  /* text-justify:  */
}

.client-controls__button {
  margin-right: 0 !important;
}

@media (max-width: 475px) {
  .client-controls__button {
    max-width: 6.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.clients-container {
  flex-direction: column;
  justify-content: flex-start;
}

.client-header {
  background: var(--tertiary-color-light);
  width: 100%;
  text-align: center;
  padding: 0.25rem;
  font-weight: 1000;
  border-radius: var(--pimrary-radius);
  margin: 0 !important;
  cursor: pointer;
}

.client-header:hover {
  text-shadow: var(--text-shadow);
}

.client-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
}

.client-row > p {
  margin: 0.5rem 0 0 0;
}

.client-name {
  cursor: pointer;
}

.client-name:hover {
  text-shadow: var(--text-shadow);
}

/* Mobile view */

@media (max-width: 800px) {
  .user__info {
    flex-direction: column !important;
  }
  .dashboard__data {
    text-align: center;
  }
  .dashboard__form {
    flex-direction: column !important;
  }
  .dashboard__buttons {
    flex-direction: row;
    flex-wrap: nowrap !important;
    width: 100% !important;
    justify-content: center;
  }
}
