.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--tertiary-border);
  border-radius: var(--pimrary-radius);
  padding: 1rem;
  box-sizing: border-box;
  width: 47rem;
  max-width: 100%;
  font-size: 1.1rem;
  min-height: 14rem;
}

.user_info__form {
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .user_info {
    flex-direction: column;
  }
  .user_info__data {
    text-align: center;
  }
  .user_info__form {
    flex-direction: column !important;
  }
}

.user_info__input {
  margin: 0.5rem !important;
  padding: 0.5rem !important;
}

.user_info__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50% !important;
}

.user_info__data,
.user_info__button {
  font-size: 1.1rem;
  font-weight: 1000;
}
.user_info__data {
  padding: 0 1rem;
  width: 100%;
  text-shadow: 0.5px 0 #000;
}

.user_info__button {
  display: flex;
  justify-content: center;
  margin: 0.5rem !important;
  padding: 0.5rem !important;
  width: 100% !important;
  max-width: 11rem;
}

.PhoneInputInput {
  border-color: transparent;
  font-size: 1.1rem;
  width: 50%;
}

.PhoneInputInput:focus {
  background-color: var(--tertiary-color-light);
}

.add-data-prompt {
  text-shadow: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--tertiary-color);
}