.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash__primary-image {
  width: 100%;
  padding-top: 1rem;
  transform: scale(0.9);
}

.splash__secondary-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.splash__secondary-content-backwards {
  flex-direction: row-reverse;
}

.splash__secondary-image {
  width: 50%;
}

.splash__secondary-text {
  padding: 2rem;
}

@media (max-width: 800px) {
  .splash__secondary-content {
    flex-direction: column-reverse;
  }
  .splash__secondary-text {
    padding: 0 2rem 2rem 2rem;
  }
  .splash__primary-image {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .splash__secondary-image {
    width: 80%;
  }
}
