.powered-by-stripe {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--tertiary-color);
  font-size: 0.8rem;
  position: relative;
  top: -0.75em;
}

.StripeElement {
  width: 100%;
  margin: 0.6rem;
  padding: 0.6rem;
  border-radius: var(--primary-radius);
  border: var(--tertiary-border);
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: white;
  height: 2.625rem;
}

.CardField-input-wrapper {
  background-color: none;
}

.StripeElement--focus,
.StripeElement:focus {
  background-color: var(--tertiary-color-light);
  border: var(--primary-color) solid 1px;
}