#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--tertiary-border);
  border-radius: var(--pimrary-radius);
  padding: 1rem;
  box-sizing: border-box;
  width: 40rem;
  max-width: 85%;
  font-size: 1.1rem;
  min-height: 13rem;
  background-color: var(--primary-color-xlight);
}

#modal-content ul {
  padding-inline-start: 0;
  margin-block-end: 0;
  padding: 0;
}
