.site-header {
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  padding: 0 10%;
  font-size: 1.2rem;
  height: 4rem;
}

.site-header__title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  white-space: pre-wrap;
  cursor: pointer;
}

.s-h__t-emph {
  font-weight: 1000;
}

@media (max-width: 385px) {
  .site-header__title {
    font-size: 1rem;
    text-align: left !important;
  }
}

.logo {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.nav {
  display: block;
}

.nav__wrapper {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

.nav__item {
  margin-left: 2rem;
  color: var(--tertiary-color);
}

.nav__item:hover,
.nav__dropdown__item:hover {
  color: var(--primary-color);
}

.nav__item-active {
  font-weight: 800;
  color: var(--primary-color);
}

/* dropdown styling */

.fa-bars {
  cursor: pointer;
}

.nav__dropdown {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  margin-top: 2.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
}

.nav__dropdown__button-closed {
  color: var(--primary-color);
}

.nav__dropdown__button-open {
  color: var(--tertiary-color);
}

.nav__dropdown__item {
  padding-bottom: 1rem;
}

.nav__dropdown__rest-of-page {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.logout {
  margin: 0;
}

@media (max-width: 500px) {
  .site-header {
    padding: 0 2.5%;
  }
  .nav__dropdown {
    padding: 0 2.5%;
  }
}
